.add-task-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.add-task-button span:first-child {
    color: rgb(191, 51, 51);
}

.add-label {
    color: rgba(67, 67, 67, 0.626);
}