.app {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  min-width: 300px;
  overflow: hidden;
  background-color: white;
}

.side-bar-section {
  position: relative;
  background-color: #fffbf7;
  padding: 10px;
  box-sizing: border-box;
  z-index: 200000;
}

.main-content-section {
  flex: 1;
  overflow-y: auto;
  scrollbar-width:thin;
  background-color: white;
}

.main-content-section *{
  background-color: inherit;
}

.view-button-section {
  position: absolute;
  top:0;
  right:0;
  padding-top: 20px;
  padding-right: 100px;
  z-index: 200000;
}

.viewbar-section {
  position: absolute;
  top: 50px;
  right: 20px;
  width: 290px;
  z-index: 300000;
}

@keyframes sidebarSlideOut {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes sidebarSlideIn {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}