.react-datepicker {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.react-datepicker__header {
    font-weight: lighter;
    background-color: #e2e2e2;
    color: rgb(255, 255, 255);
    padding: 8px;
    border-radius: 8px 8px 0 0;
    border: 1px solid rgb(189, 189, 189);
}

.react-datepicker__navigation-icon--previous::before {
    border-color: rgb(111, 111, 111) !important;
}

.react-datepicker__navigation-icon--next::before {
    border-color: rgb(111, 111, 111) !important;
}

.react-datepicker__day:hover {
    background-color: #ffffff;
    border-radius: 50%;
}

.react-datepicker__day--today {
    font-weight: bold;
    color: #00aaff;
    border-radius: 50%;
}

.date-selector {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    padding: 3px 5px;
}

.material-icons-outlined {
    font-size: 13px;
        color: inherit;
        font-weight: 300;
}

.selected-date {
    font-size: 13px;
    font-weight: 400;
}