.editor-container {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(201, 201, 201, 0.378);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #5b5b5bd5;
    padding: 5px;
}

.input-contents {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-bottom: 2px solid rgba(201, 201, 201, 0.23);
    cursor: pointer;
}

.react-date-picker {
    position: absolute;
    top: 60px;
    left: 80px;
    display: flex;
    z-index: 100000;
}

.text-field {
    color: #5b5b5bd5;
    font-size: 13px;
    font-weight: 600;
    outline: none;
    border: none;
    padding: 5px 0 0 0;
    background-color: inherit;
}

.text-field::placeholder {
    color: rgba(39, 39, 39, 0.474);
    font-weight: 600;
    background-color: transparent;
}

.description {
    font-size: 13px;
    color: #5b5b5bd5;
    border: none;
    outline: none;
    background-color: inherit;
}

    
.editor-date-selector {
    display: flex;
        align-items: center;
        justify-self: start;
        width: fit-content;
        border: 1px solid rgba(128, 128, 128, 0.29);
        border-radius: 5px;
        padding: 2px;
}

.editor-date-selector:hover {
    background-color: rgba(216, 216, 216, 0.253);
    cursor: pointer;
}

.close .material-symbols-outlined{
    font-size: 12px;
    text-align: right;
    padding: 5px;
    margin: 0;
    align-self: self-start;
}

.editor-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    gap:10px;
    font-size: 12px;
}

.editor-actions .material-symbols-outlined{
    font-size: 12px;
    align-self: center;
}

.editor-task-category {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #5b5b5b;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}



button.cancel {
    background-color: #ebebeb;
    color: #000000;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;
    border-color: transparent;
    align-self: center;
}

button.cancel:hover {
    background-color: #d2d2d2;
}

button.save {
    background-color: #ff4e4e;
    color: #fff;
    padding: 6px;
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
}

button.save:hover {
    background-color: #e61717;
}

.disabled {
    background-color: #ff4e4e66;
    color: #ffffff;
    padding: 6px 10px;
    border-radius: 4px;
    border-color: transparent;
    cursor: not-allowed;
    font-size: 14px;
}