* {
    margin: 0;
    padding: 0;
    list-style: none;

}

body {
    font-family: "Lato", serif;
    color: rgba(0, 0, 0, 0.773);
    font-size: 14px;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.onhover:hover {
    background-color: rgba(163, 162, 162, 0.253);
    cursor: pointer;
    transition: all 0.3s ease;
}

.material-symbols-outlined {
    font-size: 23px;
    color: rgba(71, 71, 71, 0.773);
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 100,
        'opsz' 48
}

.small-icons {
    font-size: 12px;
}
[data-tooltip] {
    position: absolute;

}

[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 8px;
    top: 25px;
    right: -5px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 100;
    opacity: 1;
    font-weight: 600;
    transition: opacity 1s ease-in-out, top 1s ease-in-out;
}

[data-tooltip]::after {
    content: "";
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease-in-out, top 1s ease-in-out;
}
