.main-contents {
    position: relative;
}

.today-section {
    padding: 65px 15.5%;
}

.view-button-section {
    position: absolute;
    top: 20px;
    right: 100px;
}

.viewbar-section {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 290px;
}