.overdue-contents {
    display: flex;
    flex-direction: column;
}

.overdue-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
}

.overdue-header::after {
    content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 97%;
        height: 1px;
        background-color: rgba(211, 211, 211, 0.408);
}

.overdue-toggle {
    display: flex;
    align-items: flex-end;
}

.overdue-label {
    font-size: 15px;
    font-weight: bolder;
    margin-left: 5px;
}

.reschedule-btn {
    font-size: 13px;
    color: #f44336;
    font-weight: 600;
}
