.overdue-contents {
    display: flex;
    flex-direction: column;
    position: relative;
}

.overdue-header {
    position: sticky;
        top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    z-index: 90;
}

.overdue-header::after {
   position: absolute;
   content: "";
   top: 35px;
   right: 0;
    width: 97%;
    height: 1px;
    background-color: #30303014;
    border: none;
    margin-left: auto;
}

.overdue-toggle {
    display: flex;
    align-items: center;
}

.overdue-label {
    font-size: 13.5px;
    color: black;
    font-weight: bolder;
    padding-left: 5px;
}

.reschedule-btn {
    font-size: 12.5px;
    color: #f44336;
    font-weight: 600;
}
