.side-bar-contents{
    background-color: #fffbf7;
}
.menu-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.profile span:first-child {
    padding: 4px;
    background-color: #9b755c;
    border-radius: 50%;
    color: #e8e8e8;
    font-size: 16px;
}

.username {
    font-size: 13px;
    color: #333333;
    padding-left: 10px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-icons {
    display: flex;
    align-items: center;
}

.profile>span:last-child {
    font-size: 15px;
}

.header-notif {
    position: relative;
    padding-right: 30px;
}

.notif-notif {
    position: absolute;
    top: -2px;
    left: 10px;
    color: rgb(190, 86, 0);
    font-size: 10px;
}

.view-notif {
    position: absolute;
    top: -2px;
    left: 15px;
    color: rgb(190, 86, 0);
    font-size: 10px;
}

.menu-add {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    gap: 5px;
    padding: 5px 7px;
    border-radius: 5px;
}

.menu-add>span:last-child {
    color: rgb(208, 86, 67);
    font-weight: 600;
    font-size: 14px;
}

.plus-icon {
    color: rgb(208, 86, 67);
    font-size: 26px;
}

.menu-lists {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2px;
    margin-bottom: 20px;
}

.menu-lists li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
}

.menu-lists div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.categories-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.sub-category {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-category li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 7px;
    padding-left: 15px;
    border-radius: 5px;
    font-size: 14px;
}

.sub-category-label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hash {
    font-size: 17px;
    color: rgb(147, 147, 147);
}

.numbers {
    color: rgb(149, 149, 149);
    font-size: 12px;
}

.features {
    position: absolute;
    width: 90%;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: #fffaf5;
}

.features div {
    display: flex;
    align-items: center;
    padding: 5px 7px;
    border-radius: 5px;
    margin-bottom: 5px;
    gap: 10px;
}