.task ul {
    list-style: none;
}

.task-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 10px 0;
    background-color: #fff;
}

.task-item::after {
    content: '';
    position: absolute;
    right: 0;
    width: 97%;
    height: 1px;
    background-color: rgba(133, 133, 133, 0.179);
    bottom: 0;
}

.left-task {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 5px;

}

.task-inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 14px;
    gap: 5px;
}

.task-description {
    font-size: 12px;
    color: rgba(68, 68, 68, 0.553);
}

.task-event {
    display: flex;
    align-items: end;
    justify-content: start;
    gap: 5px;
}

.task-event span {
    font-size: 13px;
    color: rgb(58, 83, 92);
}

.task-event>span:first-child {
    font-size: 16px;
}

.task-actions {
    display: flex;
    flex-direction: column;
    align-self: end;
    gap: 10px;
}

.action-buttons {
    display: flex;
    align-items: end;
    gap: 10px;
}

.action-buttons span {
    color: rgb(177, 177, 177);
    cursor: pointer;
}

.task-category {
    display: flex;
    align-self: flex-end;
    gap: 5px;
    cursor: pointer;
}

.task-category span {
    font-size: 12px;
}