.today-contents{
    display: flex;
    flex-direction: column;
}

.today-contents>header {
    font-size: 26px;
    margin-left: 30px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}

.total-tasks {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.total-tasks span {
    font-size: 13px;
    color: #888;
}

.overdue-section {
    margin-bottom: 40px;
}

.today-tasks-date {
    margin-left: 30px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.408);
    font-size: 15px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

.today-tasks-section {
    margin-top: 30px;
}

.editor-section {
    margin-top: 5px;
    margin-left: 25px;
}

.editor.hidden {
    display: none;
}

.add-task-section {
    margin-top: 10px;
    margin-left: 30px;
}
.relax-mode {
    position: relative;
    top: 100px;
    text-align: center;
}