.today-contents>header {
    font-size: 26px;
    margin-left: 30px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}

.total-tasks {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.total-tasks span {
    font-size: 13px;
    color: #888;
}

.overdue-section {
    margin-top: 30px;
    padding-bottom: 10px;
}

.today-tasks-section {
    margin-top: 30px;
}

.editor-section {
    margin-top: 5px;
    margin-left: 25px;
}

.editor.hidden {
    display: none;
}

.add-task-section {
    margin-top: 10px;
    margin-left: 30px;
}
.relax-mode {
    position: relative;
    top: 100px;
}