.task {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
}

.task-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    cursor: pointer;
}

.task-item::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 97%;
    height: 0.3px;
    background-color: rgba(211, 211, 211, 0.408);
    
}

.drag-overlay{
    background-color: rgb(208, 208, 208);
        box-shadow: 10px 10px 10px rgba(186, 186, 186, 0.3);
        border-radius: 20px;
        transition: 150 cubic-bezier(0.25, 1, 0.5, 1);
        z-index: 30000;
}

.drag-overlay .drag-handle {
    display: none;
}

.drag-overlay .action-buttons {
    visibility: hidden;
}

.drag-overlay .radio-button{
    padding-left: 8px;
}

.drag-placeholder {
    position: relative;
    justify-self: right;
    width: 97%;
    background-color: #ececec;
    border-top: 2px solid rgb(145, 5, 5);
    border-radius: 0 0 8px 8px;
    min-height: 60px;
    z-index: 100;
}

.drag-placeholder::before {
    content: "";
    position: absolute;
    top: -5px;
    width: 5px;
    height: 5px;
    border: 2px solid rgb(145, 5, 5);
    border-radius: 50%;
    left: -9px;
}

.left-task {
    display: flex;
    align-self: self-start;
    justify-content: start;
    gap: 5px;

}

.drag-handle {
    cursor: move;
}

.drag-handle span {
    align-self: self-start;
    font-weight: bolder;
    color: black;
}

.radio-button>span:first-child {
    align-self: self-start;
    font-size: 20px;
}

.task-inputs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: center;
    font-size: 14px;
    gap: 7px;
}

.task-description {
    font-size: 12px;
    color: rgba(68, 68, 68, 0.553);
    flex: 1;
}

.task-event {
    display: flex;
    align-items: end;
    gap: 5px;
}

.task-event span {
    font-size: 11px;
    color: rgb(58, 83, 92);
}

.task-event>span:first-child {
    font-size: 13px;
}

.drag-area {
    display: flex;
    align-self: stretch;
    flex: 1;
    cursor: move;
    margin: 0 5px;
}

.task-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    gap: 10px;
}

.action-buttons {
    display: flex;
    align-items: start;
    gap: 10px;
}

.action-buttons span {
    color: rgb(177, 177, 177);
    cursor: pointer;
}

.task-category {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    cursor: pointer;
}

.task-category span {
    font-size: 12px;
}