.task {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
}

.task-item {
    display: flex;
        justify-content: space-between;
        width: 100%;
    padding: 5px 0;
    cursor: inherit;
    border-bottom: 1px solid rgba(211, 211, 211, 0.408);
    border-bottom-left-radius: 5%;
    background-color: inherit;
}

.drag-overlay{
    background-color: rgb(208, 208, 208);
        box-shadow: 10px 10px 10px rgba(186, 186, 186, 0.3);
        border-radius: 20px;
        transition: 150 cubic-bezier(0.25, 1, 0.5, 1);
}

.drag-overlay .drag-handle {
    display: none;
}

[data-dragging="true"] {
    cursor: pointer !important;
}

.drag-overlay .edit-task-btn {
    visibility: hidden;
}

.drag-overlay .radio-button{
    padding-left: 8px;
}

.drag-placeholder {
    position: relative;
    justify-self: right;
    width: 97%;
    background-color: #ececec;
    border-top: 2px solid rgb(145, 5, 5);
    border-radius: 0 0 8px 8px;
    min-height: 60px;
}

.drag-placeholder::before {
    content: "";
    position: absolute;
    top: -5px;
    width: 5px;
    height: 5px;
    border: 2px solid rgb(145, 5, 5);
    border-radius: 50%;
    left: -9px;
}

.left-task {
    box-sizing: border-box;
    display: flex;
    align-self: self-start;
    justify-self: start;
    gap: 5px;

}

.drag-handle {
    cursor: move;
}

.drag-handle span {
    align-self: self-start;
    font-weight: bolder;
    color: black;
}

.radio-button .material-symbols-outlined {
    align-self: self-start;
    font-size: 25px;
    color: rgb(118, 118, 118);
    font-variation-settings:
            'FILL' 0,
            'wght' 0,
            'GRAD' 100,
            'opsz' 48
}

.task-inputs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: center;
    font-size: 14px;
    gap: 3px;
}

.task-description {
    font-size: 12px;
    color: rgba(68, 68, 68, 0.553);
    flex: 1;
}

.task-date-selector {
    display: flex;
    align-items: end;
    gap: 5px;
}

.drag-area {
    display: flex;
    align-self: stretch;
    flex: 1;
    cursor: move;
    margin: 0 5px;
}

.task-actions {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: end;
    justify-content: space-between;
    gap: 5px;
}

.task-actions .edit-task-btn {
    color: rgb(206, 120, 81);
    cursor: pointer;
    font-size: 15px;
}

.task-category {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    cursor: pointer;
}

.task-category span {
    font-size: 12px;
}

