
.upcoming-sticky-box {
    position: sticky;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 1000;
    background-color: inherit;
}

.upcoming-sticky-header{
    display: flex;
    width: 70%;
    justify-content: space-around;
    justify-self: right;
    margin-left: auto;
}

.upcoming-sticky-header .date-n-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: right;
}

.date-n-title .title {
    font-size: 16px;
    font-weight: 700;
    color: black;
}

.date-n-title .upcoming-date-selector {
    font-size: 13px;  
    font-weight: normal;
}

.upcoming-sticky-header .material-icons-outlined{
    font-size: 15px;
}

.upcoming-sticky-header .upcoming-date-navigator {
    display: flex;
    justify-self: right;
    align-self: self-end;
    font-size: 12px;  
}
.upcoming-sticky-header .week-number{
    font-size: 12px;
    font-weight: 500;
}

.upcoming-contents {
    width: 100%;
    justify-self: center;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-top: 10px;
    background-color: inherit;
}

.upcoming-header {
    position: relative;
    font-size: 24px;
    padding-left: 30px;
    font-weight: 600;
    color: black;
    padding-bottom: 10px;
}

.upcoming-date-section{
    display: flex;
    justify-content: space-between;
}

.upcoming-date-selector {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 5px;
    padding-top: 10px;
    font-weight:lighter;
}

.upcoming-date-selector .upcoming-month {
    font-weight: bold;
}

.upcoming-date-section .material-icons-outlined {
    font-size: 18px;
    font-weight: normal;
    color: #636363;
}

.react-date-picker {
    position: absolute;
    top: 60px;
    left: 80px;
    display: flex;
}

.upcoming-date-navigator{
    font-size: 13px;
    width: fit-content;
    height: fit-content;
        font-weight: lighter;
        color: #636363;
        align-items: center;
        border: 1.5px solid rgba(213, 198, 198, 0.289);
        padding: 3px 4px;     
}

.week-number{
    padding: 0 10px;
    border-left: 1.5px solid rgb(255, 235, 235);
        border-right: 1.5px solid rgb(255, 235, 235);
        cursor: auto;
}

.upcoming-days-of-week{
    position: sticky;
        top: 100px;
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    border-bottom: 1px solid #58585814;
    position: sticky;
    top: 50px;
    color: rgb(90, 90, 90);
    z-index: 100;
    background-color: inherit;
}

.upcoming-days{
    position: relative;
}

.upcoming-number-of-tasks{
    position: absolute;
    text-align: center;
    align-self: center;
    top:-14px;
    right: 0;
    color:rgb(0, 0, 0);
    font-size: 9px;
}

.day-disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.upcoming-tasks-date {
    position: sticky;
    top: 100px;
    padding: 10px 0;
    padding-left: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #58585814;
    font-size: 13.5px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    z-index: 90;
    background-color: inherit;
}

.upcoming-tasks-section {
    padding-top: 30px;
}

.upcoming-editor-section {
    padding-top: 5px;
    margin-left: 40px;
    max-width: 90%;
}

.upcoming-editor.hidden {
    display: none;
}

.upcoming-add-task-section {
    padding-top: 10px;
    padding-left: 30px;
}
