.upcoming-sticky-box {
    position: sticky;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 1000;
    background-color: inherit;
   
}

.upcoming-sticky-header{
    width: 100%;
    position: fixed;
    left: 25%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.upcoming-sticky-header .title {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.upcoming-sticky-header .date-section{
    display: flex;
    justify-content: space-between;
    width:300px
}

.upcoming-sticky-header .date-selector {
    font-size: 13px;
    justify-self: start;
   
}

.upcoming-sticky-header .material-icons-outlined{
    font-size: 15px;
}

.upcoming-sticky-header .date-navigator {
    display: flex;
    align-items: center;
    justify-self: right;
    font-size: 12px;  
}

.upcoming-contents {
    width: 100%;
    justify-self: center;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-top: 50px;
}

.upcoming-header {
    position: relative;
    font-size: 24px;
    padding-left: 30px;
    font-weight: 600;
    color: black;
    padding-bottom: 10px;
}

.upcoming-date-section{
    display: flex;
    justify-content: space-between;
}

.upcoming-date-selector {
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 5px;
    padding-top: 10px;
    font-weight:lighter;
}

.upcoming-date-section .material-icons-outlined {
    font-size: 18px;
    font-weight: normal;
    color: #636363;
}

.react-date-picker {
    position: absolute;
    top: 60px;
    left: 80px;
    display: flex;
}

.upcoming-date-navigator{
    display: flex;
    font-size: 13px;
        font-weight: lighter;
        color: #636363;
        align-items: center;
        border: 1.5px solid rgba(213, 198, 198, 0.289);
        padding: 3px 4px;   
        z-index: 150;   
}

.week-number{
    padding: 0 10px;
    border-left: 1.5px solid rgb(255, 235, 235);
        border-right: 1.5px solid rgb(255, 235, 235);
        cursor: auto;
}

.upcoming-days-of-week{
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    border-bottom: 1px solid #58585814;
    position: sticky;
        top: 50px;
    z-index: 10;
        color: rgb(90, 90, 90);
}

.upcoming-days{
    position: relative;
}

.upcoming-number-of-tasks{
    position: absolute;
    text-align: center;
    align-self: center;
    top:-14px;
    right: 0;
    color:rgb(0, 0, 0);
    background-color: transparent;
    font-size: 9px;
    border-radius: 50%;
}

.day-disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.upcoming-tasks-date {
    position: sticky;
    top: 100px;
    padding: 10px 0;
    padding-left: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #58585814;
    font-size: 13.5px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    z-index: 10;
}

.upcoming-tasks-section {
    padding-top: 30px;
    z-index: -10;
}

.upcoming-editor-section {
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 30px;
}

.upcoming-editor.hidden {
    display: none;
}

.upcoming-add-task-section {
    padding-top: 10px;
    padding-left: 30px;
}
