.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.side-bar-section {
  display: flex;
  position: relative;
  width: 300px;
  height: auto;
  background-color: #fffbf7;
  padding: 10px;
    z-index: 100;
}

.main-content-section {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  }
  
  .toggle-view {
    position: absolute;
    top: 18px;
    z-index: 200;
  }
  
  .view-notif {
    position: absolute;
    top: -2px;
    left: 15px;
    color: rgb(190, 86, 0);
    font-size: 10px;
  }
  
  @keyframes sidebarSlideOut {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes sidebarSlideIn {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes viewSlideOut {
    0% {
      left: 280px;
    }
  
    100% {
      left: 15px;
    }
  }
  
  @keyframes viewSlideIn {
    0% {
      left: 15px;
    }
  
    100% {
      left: 280px;
    }
  }
  
  @keyframes mainSlideOut {
    0% {
      left: 0;
    }
  
    100% {
      left: -15%;
    }
  }
  
  @keyframes mainSlideIn {
    0% {
      left: -15%;
    }

    100% {
      left: 0;
    }
    }